.concept {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto 160px;
  @include maxWidth(767px) {
    width: auto;
    flex-direction: column;
    margin-bottom: 80px;
  }
  @include minMaxWidth(768px, 1024px) {
    padding: 0 20px;
    margin-bottom: 80px;
  }
  &-image {
    width: 680px;
    position: relative;
    @include maxWidth(767px) {
      width: auto;
      padding: 0 15px;
      margin-bottom: 37px;
      img {
        width: 100%;
      }
    }
    @include minMaxWidth(768px, 1024px) {
      width: 50%;
      img {
        width: 100%;
      }
    }
    &::before {
      content: "";
      width: 740px;
      height: 780px;
      background-color: #ededed;
      position: absolute;
      top: -500px;
      left: -150px;
      z-index: -1;
      @include maxWidth(767px) {
        width: 315px;
        height: 300px;
        top: -80px;
        left: 0;
      }
      @include minMaxWidth(768px, 1024px) {
        width: 350px;
        height: 390px;
        top: -250px;
        left: -150px;
      }
    }
  }
  &-content {
    width: 520px;
    padding-left: 120px;
    @include maxWidth(767px) {
      width: auto;
      padding: 0 30px;
    }
    @include minMaxWidth(768px, 1024px) {
      width: 50%;
      padding-left: 60px;
    }
  }
  &-heading {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #b1b1b1;
    margin-bottom: 34px;
    position: relative;
    @include maxWidth(767px) {
      margin-bottom: 20px;
    }
    @include minMaxWidth(768px, 1024px) {
      margin-bottom: 15px;
    }
    &::before {
      content: "";
      width: 104px;
      height: 1px;
      background-color: #000000;
      position: absolute;
      top: 50%;
      left: -120px;
      @include minMaxWidth(768px, 1024px) {
        width: 55px;
        left: -60px;
      }
    }
  }
  &-title {
    font-family: $thirdaryFont;
    font-size: 32px;
    margin-bottom: 52px;
    @include maxWidth(767px) {
      font-size: 26px;
      margin-bottom: 40px;
    }
    @include minMaxWidth(768px, 1024px) {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }
}
