.footer {
  &-top {
    padding: 87px 0;
    background-color: $primaryColor;
    @include maxWidth(767px) {
      padding: 30px 0;
    }
    @include minMaxWidth(768px, 1024px) {
      padding: 40px 0;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @include maxWidth(767px) {
        padding: 0 15px;
      }
      @include minMaxWidth(768px, 1024px) {
        padding: 0 10px;
      }
    }
  }
  &-menu {
    width: 397px;
    @include maxWidth(767px) {
      width: auto;
    }
    @include minMaxWidth(768px, 1024px) {
      width: 300px;
    }
  }
  &-menu-list {
    display: flex;
    gap: 20px 70px;
    flex-wrap: wrap;
    @include minMaxWidth(768px, 1024px) {
      gap: 20px 40px;
    }
  }
  &-menu-item {
    @include maxWidth(767px) {
      &:nth-child(3) {
        order: 5;
      }
      &:nth-child(4) {
        order: 3;
      }
      &:nth-child(5) {
        order: 4;
      }
    }
  }
  &-menu-link {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    @include minMaxWidth(768px, 1024px) {
      font-size: 12px;
    }
  }
  &-button-link {
    &.sp {
      display: none;
    }
    &.pc {
      display: block;
      @include minMaxWidth(768px, 1024px) {
        margin-right: 80px;
      }
    }
    @include maxWidth(767px) {
      &.sp {
        display: block;
        width: 100%;
        padding: 0 15px;
        margin-bottom: 34px;
      }
      &.pc {
        display: none;
      }
    }
    .btn-link-footer {
      color: #fff;
      text-decoration: none;
      display: block;
      text-align: center;
      line-height: 1.4;
      @include maxWidth(767px) {
        font-size: 14px;
        padding: 17px 25px !important;
      }
      @include minMaxWidth(768px, 1024px) {
        font-size: 12px;
        padding: 10px 30px !important;
      }
    }
  }
  &-bottom {
    background-color: #323232;
    padding: 30px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include maxWidth(767px) {
        padding: 0 15px;
        flex-direction: column;
      }
      @include minMaxWidth(768px, 1024px) {
        padding: 0 10px;
      }
    }
  }
  &-menu-icon {
    display: flex;
    align-items: center;
    @include maxWidth(767px) {
      flex-direction: column;
    }
    &-home {
      margin-right: 72px;
      @include maxWidth(767px) {
        margin-right: 0;
        margin-bottom: 15px;
        img {
          width: 184px;
        }
      }
      @include minMaxWidth(768px, 1024px) {
        margin-right: 35px;
      }
    }
  }
  &-menu-icon-list {
    display: flex;
    column-gap: 20px;
    @include maxWidth(767px) {
      margin-bottom: 25px;
    }
    @include minMaxWidth(768px, 1024px) {
      column-gap: 13px;
    }
  }
  &-copyright {
    font-size: 14px;
    color: #fff;
  }
}
